.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
}

.main {
  width: 600px;
  height: 770px;
}

body {
  position: absolute;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}


.img-bg {
  width: 600px;
  height: 770px;
  background-image: url("main.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  position: relative;
  z-index: -2;
}

.img-bg>.img {
  width: 100%;
  height: 50%;
  position: relative;
}

.img-bg>.img>img {
  object-fit: contain;
  height: 100%;
  width: 80%;
  position: absolute;
  top: -50px;
  left: 10%;
  z-index: -1;
}

.img-bg>.img>.text {
  width: 100%;
  max-width: 500px;
  white-space: normal;
  word-wrap: break-word;
  text-align: center;
  font-size: 31px;
  font-family: 'Arial', sans-serif;
  position: absolute;
  top: 330px;
  left: 300px;
  transform: translate(-50%, -50%);
  color: #C0955B;
}